/* GLOBAL */

:root {
    box-sizing: border-box;
}

::before, 
*, 
::after {
    box-sizing: inherit; 
    margin: 0; 
    padding: 0; 
}

body {
    position: relative; 
    min-height: 100vh; 
    padding-bottom: 3.6rem; 
    
    font-family: 'Futura', 'Helvetica', sans-serif; 
}

a {
    text-decoration: none;
}